.text-white {
  color: #3727F4 !important;
}

/* Book a demo button base styling */
a[href="https://juo.io/demo"] {
  border: 1px solid !important;
  color: #3727F4 !important;
  background-color: transparent !important;
  border-radius: 4px !important;
  border-color: #A09FA4 !important;
  position: relative;
  padding-left: 0.5rem !important; 
  padding-right: 0.5rem !important;
}

/* Remove green pill span */
a[href="https://juo.io/demo"]>span {
  background-color: transparent !important;
  border-radius: 4px !important;
}

/* Fix inner spacing between text and icon */
a[href="https://juo.io/demo"] .flex.items-center {
  margin-right: 0 !important;
  gap: 0 !important;
}

/* Border color on hover */
a[href="https://juo.io/demo"]:hover,
a[href="https://juo.io/demo"]:focus {
  border-color: #3727F4 !important;
}

a[href="https://juo.io/demo"] svg {
  margin-left: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

a[href^="https://mintlify.com"] {
  display: none;
}

.sidebar ul li, .text-primary, .text-gray-700 {
  height: 31px;
}

.mt-12 {
    margin-top: 24px !important;
}